.navBar{
    font: bolder;
    text-decoration-color: #dc3545;
}

.welcomeQuote{
    display: inline-block;
    color: #CB8809;
    left: 0;
    top: 50%;
    text-align: center;
    background-image: url(map.jpg);
    background-size: 50%;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;

}

.quote{
    padding-top: 122px;
}
.BuyNow{
    padding-top: 300px;
}
.logo{
    padding-top: 25px;
}
.mid_quote{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.review{
    text-align: center;
}
.carousel-inner{
    height: 50%;
    width: 100%;
}

.invisible {
    visibility: hidden !important;
  }
  
  // Usage as a mixin
  // Warning: The `invisible()` mixin has been deprecated as of v4.3.0. It will be removed entirely in v5.
  .element {
    @include invisible(visible);
  }
  .element {
    @include invisible(hidden);
  }
  .customerImages{
      border-radius: 40px;
  }
  .ender{
      background-color:#E9EBEE;
  }